# Server Configuration
APP_NAME=go-modular
SERVER_MODE=debug # debug and info
SERVER_PORT=8080
HTTP_TIMEOUT=60
CACHE_EXPIRED=24
CACHE_PURGED=60
API_VERSION=1

# CORS Configuration
CORS_ORIGINS=* # Allow all origins, or specify a single domain/URL (e.g., http://localhost:3000)

# Database Configuration
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=go_modular
DB_USERNAME=root
DB_PASSWORD=ahmadrafi01

# Connection Pool Configuration
CONN_IDLE=200
CONN_MAX=300
CONN_LIFETIME=60

# JWT Configuration
JWT_DAY_EXPIRED=60
JWT_SIGNATURE_KEY=4WSRLWxJdm

# GitHub OAuth Configuration
GITHUB_CLIENT=your_github_client_id
GITHUB_SECRET=your_github_client_secret

# Midtrans Configuration
MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_CLIENT_KEY=your_midtrans_client_key
MIDTRANS_MERCHANT_ID=your_merchant_id
MIDTRANS_ENV=sandbox # sandbox or production
