[Unit]
Description=Terarush Api Service
After=network.target

[Service]
ExecStart=/usr/local/bin/app
WorkingDirectory=/root/index
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
