[Unit]
Description=Terarush Api Service
After=network.target

[Service]
ExecStart=/usr/local/bin/terarush
WorkingDirectory=/root/terarush
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
